.header {
    grid-area: h;
    background-image: linear-gradient(to bottom,#26FFFF ,#F09041 75%);
}

.item {
    display: block;
    padding: 1px;
    margin-left: 2em;
    margin-right: auto;
    width: 4.8%;
}
