.grow {

    grid-area: h;

}

.navlinkitem {
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
}

.navlinkitem:hover,
.navlinkitem:active,
.navlinkitem:visited {

    color: white;
    text-decoration: none;
}

/* Styling for when the link is active */
.navlinkitem.active {
    color: green;
}