.header {
    grid-area: h;

    background-image: linear-gradient(165deg,#26FFFF 12%,#F09041 70%);
}

.item {
    display: block;
    padding: 1px;
    margin-left: 1em;
    margin-right: auto;
    width: 4.8%;
}
