.nav {
    grid-area: n;
    margin-top: 5px;
    margin-right: 2.5px;
    background-image: linear-gradient(to right,#26FFFF ,#F09041 );
    padding: 10px;
}

.item a {
    color: white;
    text-decoration: none;
    font-size: 150%;
    margin: 20px;
}

.item a.activeLink {
    color: blue;
    border-bottom:1px solid;
}
.innerItem img {
    object-fit: cover;
    height: 60px;
    width: 50px;
    border-radius: 30px;
}
.item a#settings{
    display: inline-block;
    margin-top: 40px;
}
.item a#friends{
    font-family: "Calibri Light";
    font-size:30px;
    margin-top: 40px;
}