.app-wrapper {
  /* background-color: teal; */
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 12fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(24, 84, 194);
}
